[Unit]
Description=Line Follower Robot for Mid-term Pre
After=network.target

[Service]
Type=simple
User=rspi16
WorkingDirectory=/home/rspi16/EicdesignLab/group-16/middle
ExecStart=/usr/bin/python3 /home/rspi-16/EicdesignLab/group-16/middle/line_follower_main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

# 環境変数（必要に応じて追加）
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
